{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block content %}
<div class="container">
<h1 class="fw-bold text-center mt-5">CREATE</h1><hr>
<form action="{% url 'movies:create' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {% bootstrap_form form layout="horizontal"%}
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <input type="submit" class="btn btn-success" value="CREATE">
    <a class="btn btn-secondary" href="{% url 'movies:index' %}" role="button">BACK</a>
</div>
</form>
</div>
{% endblock content %}