{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block content %}
<div class="container">
    <h1 class="fw-bold text-center mt-5">DETAIL</h1>
    <h4 class = "d-grid gap-2 d-md-flex justify-content-md-end fw-bold my-2">{{movie.pk}}번째 추천 영화</h4>
    <hr>
    <h3 class="fw-bold">TITLE : {{movie.title}}</h3>
    {% if movie.image %}
        <img src="{{movie.image.url}}" alt="{{movie_image}}">
    {% endif %}
    <h5 class="fw-bold">Description : {{movie.description}}</h5><hr>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <form action="{% url 'movies:update' movie.pk %}">
            {% csrf_token %}
            <input type="submit" value="UPDATE" class='btn btn-success'>
        </form>
        <form action="{% url 'movies:delete' movie.pk %}" method="POST">
            {% csrf_token %}
            <input type="submit" value="DELETE" class='btn btn-danger'>
        </form>
        <form action="{% url 'movies:index' %}">
            {% csrf_token %}
            <input type="submit" value="BACK" class='btn btn-secondary'>
        </form>
    </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-2">
        <form action="{% url 'articles:index' movie.pk %}" method="GET">
            <input type="submit" value='토론하기' class='btn btn-primary'>
        </form>
    </div>
    

</div>


{% endblock content %}